.left-right{
  display: flex;
  list-style: none;
  padding: 0;
}


.left{
  list-Style-Type: '';
  position: absolute;

}

.right{
  list-Style-Type: '';
  margin-left: 70px;
}

@media (max-width: 500px){
  .left-right{
    display: flex;
    list-style: none;
    padding: 0;
  }

  .left{
    list-Style-Type: '';
    position: absolute;
  }
  
  .right{
    list-Style-Type: '';
    margin-left: 56px;
  }
}