.button-video{
  display: flex;
  max-width: 400px;
  margin-bottom: 30px;
}

.video-title{
  width: 300px;
}

.delete-button{
  color: red;
  height: 30px;
  background-color: aqua;
}

.favourite{
  display: flex;
  max-width: 450px;
}