.video-self{
  display: flex;
}

.save{
  margin-top: 50px;
  height: 88px;
  width:200px;
  background-color: rgb(130, 238, 184);
}

.channnel-subscribe{
  display: flex;
  background-color: rgb(53, 222, 245);
  padding: 0px;
  justify-content: flex-start; 
}

.subscribe-button{
  
  white-space: pre-wrap;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media (max-width: 500px){
  .video-player{
    width: calc(100vw - 56px);
    height: 50vw;
  }
  .video-self{
    display:block;
    overflow: auto;
  }

  p{
    max-width: calc(100vw - 56px);
  }
  
}
